 .closedSideDrawer {
   position: fixed;
   left: 0;
   bottom: -200px;
   width: 100%;
   // height: calc(100% - 7.5rem);
   height: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all ease-in 0.2s;

   h1 {
     font-family: 'Bebas Neue';
     font-size: 10vw;
     color: #fff;
   }
 }

 .openSideDrawer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: calc(100% - 7.5rem);
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.9);
   transition: all ease-in 0.2s;

   h1,
   p {
     font-family: 'Bebas Neue';
     font-size: 10vw;
     color: #fff;
   }
 }

 @media screen and (max-width: 750px) {
   .openSideDrawer {
     display: none;
   }
 }